{% extends "base.html" %}
{% load static %}


{% block ghead %}{% include "ghead.html" %}{% endblock ghead %}
<div class="container-fluid">
    {% block header %}{% include "headera.html" %}{% endblock header %}
    {% block content %}
    <div class="container cpd dfd">
        <div class="catgo">
            <h6>CONTACT US</h6>
        </div> 
    </div>
    <div class="container spd">
        <div class="register1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="resmage cosmage">
                        <img src="{% static '' %}images/334457-middle.png" alt="" width="450px" height="450px">
                    </div>
                </div>
                <div class="col-lg-6">
                    
                    {% if messages %}
                        {% for message in messages  %}
                            <div class="alert alert-success alert-{{message.tags}}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                        
                    <div>
                        <h4><strong>Have some question for us?</strong></h4>
                    </div>
                    <div class="resres">
                        <form action="{% url 'contact' %}" id="RegForm" method="POST">
                        {% csrf_token %}
                            <div class="firstn">
                                <div>
                                    <label for="first_name">First Name</label> <br>
                                    <input type="text" class="rew" placeholder="First Name" name="first_name" required>
                                </div>
                                <div>
                                    <label for="last_name">Last Name</label> <br>
                                    <input type="text" class="rew" placeholder="Last Name" name="last_name" required>
                                </div>
                            </div>

                            <label for="subject">Email</label> <br>
                            <input type="email" class="rew" placeholder="Email" name="email" required>
                            <br>
                            
                            <label for="subject">Subject</label> <br>
                            <input type="text" class="rew" placeholder="Subject" name="subject" required>
                            <br>
                            <textarea name="message" required id="" cols="65" rows="10" placeholder="Your Message"></textarea>
                            <button type="submit" class="btd">SEND MESSAGE</button>
                        </form>
                    </div>
                </div>
             </div>   
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="manu">
                    <hr>
                        <h4>Manufacturers</h4>
                    <hr>
                   <div class="row damu">
                        
                        {% if manufacturers %}
                            {% for items in manufacturers  %}
                            <div class="col-lg-2">
                                <img src="{{items.manufacturers.url}}" alt="">
                            </div>    
                            {% endfor %}
                        {% endif %}
                            
                   </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="foot-hold">
                                <h6>Your Account</h6>
                                <ul>
                                    <li><a href=""><span>YOUR ACCOUNT</span></a></li>
                                    <li><a href=""><span>PERSONAL INFORMATION</span></a></li>
                                    <li><a href=""><span>ADDRESSES</span></a></li>
                                    <li><a href=""><span>DISCOUNT</span></a></li>
                                    <li><a href=""><span>ORDER HISTORY</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="foot-hold">
                                <h6>Information</h6>
                                <ul>
                                    <li><a href=""><span>CONTACT</span></a></li>
                                    <li><a href=""><span>SITEMAP</span></a></li>
                                    <li><a href=""><span>LEGAL NOTICE</span></a></li>
                                    <li><a href=""><span>TERMS AND CONDITIONS</span></a></li>
                                    <li><a href=""><span>ABOUT US</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="foot-hold">
                                <h6>Our Offer</h6>
                                <ul>
                                    <li><a href=""><span>NEW PRODUCTS</span></a></li>
                                    <li><a href=""><span>TOP SELLERS</span></a></li>
                                    <li><a href=""><span>SPECIALS/span></a></li>
                                    <li><a href=""><span>MANUFACTURERS</span></a></li>
                                    <li><a href=""><span>SUPPLIERS</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="foot-hold foot-hold1">
                                <h6>The Standard Chunk of Lorem</h6>
                                <p>
                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. 
                                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                                    their exact original form,
                                    accompanied by English versions from the 1914 translation by H. Rackham.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
</div>
<div class="container-fluid copyfoot1">
    {% block copyfoot %}{% include "copyfoot.html" %}{% endblock copyfoot %}
</div>